.title {
    color: white;
}

.desc {
    color: lightblue;
    margin-bottom: 25px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
    gap: 15px;
    margin-bottom: 10px;
}

#about {
    padding: 3% 12% 3% 12%;
}

.description-box {
    width: 100%;
    border-radius: 15px;
    background: gray;
    border: gray 5px solid;
}

.description {
    padding: 15px 15px 0 15px;
}

.description h3 {
    color: white;
    font-size: 1.5rem;
}

.description p {
    color: lightblue;
    font-size: 0.95rem;
}

@media only screen and (max-width: 1000px) {
    #about {
        padding: 0 7% 3% 8%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        overflow: hidden;
        width: 100%;
        height: 40vh;
    }

    .description h3 {
        font-size: 1.2rem;
    }

    .description p {
        font-size: 0.9rem;
    }
}