.plots-div {
    position: relative;
    margin: auto;
    text-align: center;

}
.plots {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}
.single-plot {
    overflow: hidden;
    width: 45%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 5px;
    border: black solid 3px;
    border-radius: 5px;
    padding: 5px;
}
.single-plot:hover {

}

.plots-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

}

.plots-desc {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: black solid 3px;
}

.plot-desc {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.plot-title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.picture {

    display: inline-block;
    width: 100%;
    height: auto;
    border: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.plot {
    height: 100vh;
    border: 8px solid white;
}





.next, .prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    border: none;
    background-color: #464545;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    transition: 0.3s ease-in-out;

}
.next:hover, .prev:hover {

    background-color: #171717;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.counter {
    font-family: 'Bungiee', cursive;
    position: absolute;
    height: 45px;
    width: 45px;
    top: 10px;
    right: 10px;
    color: white;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

@media screen and (max-width: 1200px) {
    /* Styles for screens with a maximum width of 768 pixels */

    .single-plot {
        width: 90%;
    }
    .plot-desc {
        font-size: 1em;
    }

    .plot-title {
        font-size: 1.5em;
    }

}

