.plots-div {
    position: relative;
    margin: auto;
    text-align: center;

}

.preload-images {
    display: none;
}

.preload-images img {
    display: none;
}

.plots {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}
.single-plot {
    overflow: hidden;
    width: 45%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 5px;
    border: var(--accent-color) solid 3px;
    border-radius: 5px;
    padding: 5px;
}
.single-plot:hover {

}


.spinner {
    border: 4px var(--secondary-bg-color) rgba(0, 0, 0, 0.1);
    border-top-color: var(--accent-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spinner.show {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


.plots-title {
    color: var(--main-text-color);
}

.plots-desc {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    text-align: center;
    color: var(--main-text-color);
    position: center;
border-bottom: var(--accent-color) solid 3px;

}

.plot-desc {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
}

.plot-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-text-color);
}

.picture {
    display: inline-block;
    width: 100%;
    height: auto;
    border: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;

}
.picture:hover {

}

.single-plot {
    width: 40%;
    height: auto;
    display: inline-block;
    position: relative;
}

.next, .prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    z-index: 100;
    border: none;
    background-color: var(--accent-color);
    border-radius: 100%;
    color: var(--main-text-color);
    font-size: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.next:hover, .prev:hover {

    background-color: var(--secondary-accent-color);
}

.next {
    margin-right: 10px;
    right: 0;
}

.prev {
    margin-left: 10px;
    left: 0;
}

.counter {
    font-family: 'Bungiee', cursive;
    position: absolute;
    height: 45px;
    width: 45px;
    top: 10px;
    right: 10px;
    color: var(--main-text-color);
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}
.popup-pic {

    width: 92%;
    margin: auto;
    position: center;

    display: block;
    padding: 10px;
    border-radius: 20px;

}

.popup-title {
    font-size: 2.5rem;
    text-align: center;
    margin: auto;

}



@media screen and (max-width: 1100px) {
    /* Styles for screens with a maximum width of 768 pixels */

    .single-plot {
        width: 90%;
    }
    .plot-desc {
        font-size: 1em;
    }

    .plot-title {
        font-size: 1.5em;
    }
    .counter {
        font-size: 10px;
        height: 30px;
        width: 30px;
    }
    .next, .prev {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }


}

