.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.nav-button,
.lang-button {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 1.5vw;
    transition: background-color 0.3s ease;
}

.nav-button:hover,
.lang-button:hover {
    background-color: var(--main-bg-color);
    color: var(--accent-color);
}
.backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.arrowUp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: var(--accent-color) 4px solid;
    background: var(--secondary-bg-color);
    transition: 0.3s ease-in-out;
}

.arrowUp:hover {
    background: var(--accent-color);
    border: var(--secondary-accent-color) 4px solid;
}
@media screen and (max-width: 1100px) {
    /* Styles for screens with a maximum width of 768 pixels */
    .arrowUp {
        display: none;
    }

}