.navbar {
    width: 90%;
    height: 60px;
    position: absolute;

    top: 0;
    margin: 0;
    padding: 20px;
    display: flex;

    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
}
.lang-button {
    height: 20px;
}
.logo {
    height: 30px;
    width: auto;

}