.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    height: 60px;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
}
.language {
    display: flex;
}
.logo {
    height: 30px;
    width: auto;

}