.LanguageSwitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.switch-icon {
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.switch-arrow.active {
    transform: rotate(360deg);
}
.switch-arrow {
    transition: transform 0.5s;
    transform: rotate(180deg);
}
.language-button {
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 0.5s;
}
.language-button.active {
    transform: translateY(0);
}

.language-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.language-list.active {
    display: none;
    opacity: 0;
}
.language-list button {
    width: 20px;
    height: 20px;
}

button {
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s;

}
.flag-stripe {
    width: 20px;
    height: 10px;
}
.flag-img {
    width: 20px;
    height: 20px;
}