.Footer {
    margin-top: 3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color);
}
.Footer h3 {
    margin:0;
}


.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: center;
    align-items: center;
}

.link-list.active {
    display: none;
}

.links-button {
    transition: transform 0.5s;
    transform: translateY(4rem);
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: center;
    align-content: center;
    align-items: center;
}

.links-button.active {
    height: fit-content;
    transform: translateY(0);
    transition: transform 0.5s;

}

.link-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    width: fit-content;
    z-index: 2;
    transition: 0.5s ease-in-out;
}

.link-list li:hover {
    color: var(--accent-color);
    text-shadow: #cccccc 0 0 20px;
    transition: 0.5s ease-in-out;

}


.Link-element {
    text-decoration: none;
    color: var(--main-text-color);
    align-items: self-start;
    display: flex;
    height: 40px;
}

.Link-element:hover img {
    filter: invert(30%);
    transition: 0.5s ease-in-out;

}


.Footer-button {
    width: 100%;
    height: 40px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 10px;
    color: var(--main-text-color);
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Footer-back-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
}

.Footer-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
    cursor: crosshair;
    color: var(--secondary-text-color);
}

@media screen and (max-width: 1000px) {
    .Footer {
        flex-direction: column;
        height: 100%;
    }

}